<?xml version="1.0"?><!-- http://checkstyle.sf.net -->

<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<module name="Checker">
    <module name="FileLength" />

    <module name="SuppressionFilter">
        <property name="file" value="${checkstyleSuppressionsPath}" />

    </module>

    <module name="TreeWalker">
        <module name="LineLength" />
        <module name="MethodCount" />
        <module name="MethodLength" />
        <module name="OuterTypeNumber" />
        <module name="ParameterNumber" />

    </module>

    <module name="TreeWalker">
        <module name="EmptyForInitializerPad" />
        <module name="EmptyForIteratorPad" />
        <module name="GenericWhitespace" />
        <module name="MethodParamPad" />
        <module name="NoWhitespaceAfter" />
        <module name="NoWhitespaceBefore" />
        <module name="OperatorWrap" />
        <module name="ParenPad" />
        <module name="TypecastParenPad" />
        <module name="WhitespaceAfter" />
        <module name="WhitespaceAround" />
        <module name="OneStatementPerLine" />
        <module name="MultipleVariableDeclarations" />

    </module>

    <module name="FileTabCharacter" />

    <module name="TreeWalker">
        <module name="OuterTypeFilename" />
        <module name="ClassTypeParameterName" />
        <module name="ConstantName" />
        <module name="LocalFinalVariableName" />
        <module name="LocalVariableName" />
        <module name="MemberName" />
        <module name="MethodName" />
        <module name="MethodTypeParameterName" />
        <module name="PackageName" />
        <module name="ParameterName" />
        <module name="StaticVariableName" />
        <module name="TypeName" />

    </module>

    <module name="TreeWalker">
        <module name="PackageDeclaration" />

    </module>

    <module name="TreeWalker">
        <module name="VisibilityModifier">
            <property name="packageAllowed" value="true" />
        </module>
        <module name="HideUtilityClassConstructor" />

    </module>

    <module name="TreeWalker">
        <module name="ModifierOrder" />
        <module name="FinalClass" />
        <module name="InnerTypeLast" />
        <module name="InterfaceIsType" />
        <module name="ThrowsCount" />
        <module name="CovariantEquals" />
        <module name="DeclarationOrder" />
        <module name="DefaultComesLast" />
        <module name="EmptyStatement" />
        <module name="IllegalCatch" />
        <module name="IllegalThrows" />
        <module name="InnerAssignment" />
        <module name="MissingSwitchDefault" />
        <module name="ModifiedControlVariable" />
        <module name="ParameterAssignment" />
        <module name="UnusedImports" />

    </module>

    <!--<module name="TreeWalker">-->
    <!--<module name="JavadocStyle" />-->
    <!--<module name="JavadocType" />-->
    <!--<module name="JavadocMethod" />-->
    <!--<module name="JavadocVariable" />-->
    <!--</module>-->

</module>